<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>DrawBot</string>
	<key>CFBundleExecutable</key>
	<string>DrawBot</string>
	<key>CFBundleIdentifier</key>
	<string>com.GeorgSeifert.DrawBot</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DrawBot</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>py</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.python-script</string>
			</array>
			<key>NSDocumentClass</key>
			<string>DrawBot</string>
		</dict>
	</array>
	<key>UpdateFeedURL</key>
	<string>____OnlineUrlToThisPlist____</string>
	<key>productPageURL</key>
	<string>____ProductPageURL____</string>
	<key>productReleaseNotes</key>
	<string>____LatestReleaseNotes____</string>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Georg Seifert, 2015</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>DrawBot</string>
	<key>PyMainFileNames</key>
	<array>
		<string>__boot__</string>
	</array>
	<key>PyOptions</key>
	<dict>
		<key>alias</key>
		<true/>
		<key>argv_emulation</key>
		<false/>
		<key>emulate_shell_environment</key>
		<false/>
		<key>no_chdir</key>
		<false/>
		<key>prefer_ppc</key>
		<false/>
		<key>site_packages</key>
		<false/>
		<key>use_pythonpath</key>
		<false/>
	</dict>
	<key>PyResourcePackages</key>
	<array>
		<string>lib/python2.7</string>
		<string>lib/python2.7/lib-dynload</string>
		<string>lib/python2.7/site-packages.zip</string>
		<string>lib/python27.zip</string>
	</array>
	<key>PyRuntimeLocations</key>
	<array>
		<string>@executable_path/../Frameworks/Python.framework/Versions/2.7/Python</string>
		<string>/System/Library/Frameworks/Python.framework/Versions/2.7/Python</string>
	</array>
	<key>PythonInfoDict</key>
	<dict>
		<key>PythonExecutable</key>
		<string>/usr/bin/python</string>
		<key>PythonLongVersion</key>
		<string>2.7.5 (default, Mar  9 2014, 22:15:05) 
[GCC 4.2.1 Compatible Apple LLVM 5.0 (clang-500.0.68)]</string>
		<key>PythonShortVersion</key>
		<string>2.7</string>
		<key>py2app</key>
		<dict>
			<key>template</key>
			<string>bundle</string>
			<key>version</key>
			<string>0.7.1</string>
		</dict>
	</dict>
</dict>
</plist>
