<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.GeorgSeifert.DrawBot</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DrawBot</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.5</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>py</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.python-script</string>
			</array>
			<key>NSDocumentClass</key>
			<string>DrawBotDocument</string>
		</dict>
	</array>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/schriftgestalt/DrawBotGlyphsPlugin/master/DrawBot.glyphsPlugin/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/schriftgestalt/DrawBotGlyphsPlugin</string>
	<key>productReleaseNotes</key>
	<string>Improve Dark Mode</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Georg Seifert, 2020</string>
	<key>NSPrincipalClass</key>
	<string>DrawBotPlugin</string>
	<key>PyMainFileNames</key>
	<array>
		<string>DrawBotDocument.py</string>
	</array>
</dict>
</plist>
